@mixin smallerScreens {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin transition-effect($properties,
  $duration: $transition-duration,
  $timing-function: ease-in-out) {
  $transitions: ();

  @each $property in $properties {
    $transitions: append($transitions, $property $duration $timing-function, comma);
  }

  transition: $transitions;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin heading-($size, $weight, $color) {
  font-family: $font-family;
  font-size: $size;
  font-style: normal;
  font-weight: $weight;
  line-height: 150%;
  color: $color;
  // letter-spacing: ($size / 24) * 0.64px;
  // text-transform: uppercase;
}
