.about {
  margin: 0 auto 50px auto;
  width: 324px;

  @include onLaptop {
    width: auto;
  }

  &__content {
    align-items: center;
    @include onLaptop {
      @include useGrid(12, 32px);
      max-height: 306px;
    }
  }

  &__spline {
    width: 465px;
    grid-column: 4 / 9;
  }

  &__intro {
    display: flex;
    margin: auto 0;
    justify-content: center;
    flex-flow: row wrap;
    &-title {
      @extend %heading-about-bold;
      margin-bottom: 16px;
    }

    &-desc {
      text-align: center;
      &--light {
        @extend %heading-about-light;
      }

      &--bold {
        @extend %heading-about-bold;
        // font-size: 12px;
      }

      @include onLaptop {
        display: inline-block;
        text-align: start;
        margin: auto 0;
        // width: 348px;
      }
    }

    @include onLaptop {
      width: 384px;
      height: 304px;
      justify-content: flex-start;
      grid-column: 1 / 4;
    }
  }

  &__skills {
    display: flex;
    gap: 10px;

    &--container {
      display: flex;
      align-content: center;
      flex-flow: column wrap;
      margin-top: 24px;

      @include onLaptop {
        grid-column: 9 / 12;
        flex-flow: row wrap;
        margin-top: 0;
        height: 170px;
      }
    }

    @include onLaptop {
      justify-content: center;
      align-items: center;
      align-content: stretch;
      padding: 0;
      width: 212px;
    }
  }

  &__skill {
    width: 60px;
    height: 60px;
  }
}