.container {
  // position: relative;
  // margin: 0 auto;
  max-width: 1220px;

  @include onTablet {
    padding: 0 20px;
  }

  @include onLaptop {
    padding: 0 80px;
  }

  @include onLaptopL {
    padding: 0 120px;
  }
}

// @include onTablet {
//   max-width: 608px;
//   padding: 0 20px;
// }

// @include onLaptop {
//   max-width: none;
//   padding: 0 80px;
// }

// @include onLaptopL {
//   padding: 0 120px;
// }