.works {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  margin: 0 auto;
  align-items: center;
  max-width: 320px;

  @include onTablet {
    max-width: 608px;
    padding: 0 20px;
  }

  @include onLaptop {
    max-width: none;
    padding: 0 80px;
  }

  &__title {
    margin-bottom: 40px;

    @include onLaptop {
      align-self: flex-start;
    }

    &--light {
      @extend %heading-works-light;
    }

    &--bold {
      @extend %heading-works-bold;
    }
  }
}

.work {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  // align-items: center;
  // align items center test for smaller screens if dont break anything

  @include onLaptop {
    @include useGrid(12, 32px);
  }

  &__wrapper-description-desktop {
    &--1 {
      grid-column: 6 / 12;
    }

    &--2 {
      grid-column: 1 / 6;
    }
  }

  margin-bottom: 60px;

  &:last-child {
    margin-bottom: 36px;
  }

  &__image {
    width: 320px;
    height: 260px;
    margin-bottom: 32px;
    object-fit: cover;
    border-radius: 16px;

    @include onTablet {
      width: 608px;
    }

    @include onLaptop {
      width: 594px;
      height: 490px;
      &--1 {
        grid-column: 1 / 5;
      }

      &--2 {
        grid-column: 6 / 12;
      }
    }
  }

  &__title {
    @extend %heading-work-bold;
    text-transform: uppercase;
    margin-bottom: 8px;

    @include onTablet {
      align-self: flex-start;
    }
  }

  &__description {
    margin-bottom: 20px;
    &--light {
      @extend %heading-work-light;
    }

    &--bold {
      @extend %heading-work-bold;
      font-size: 18px;
      color: $color-white;
    }
  }

  &__category {
    display: flex;
    @extend %heading-work-light;
    font-size: 14px;
    margin-bottom: 24px;

    @include onTablet {
      align-self: flex-start;
    }
  }

  &__button {
    @include flex-center;
    @extend %heading-work-light;
    font-size: 10px;
    color: $color-white;
    margin: 0 auto;
    width: 96px;
    height: 24px;
    padding: 6px 16px;
    text-align: center;
    border: 1px solid $color-white;
    border-radius: 100px;
    @include transition-effect(background-color);

    &:hover, &:active {
      background-color: $color-primary;
    }
  }
}